<br><br>
{{#if userArticles}}
<a href="./createArticle">Click here</a> to create a new article
{{else}}
It looks like you haven't created any articles yet, <a href="./createArticle">create one </a>now?
{{/if}}

{{#if userArticles}}
{{#each userArticles}}

<div class="articleClass" id="article{{article_id}}">

    <h3><a class="articleTitle" href="./visitArticle?id={{article_id}}">{{title}}</a></h3>
    <p>{{{article}}}</p><br>


    <img id="manageArticleImage" src="./images/thumbnails/{{image}}">
    
    <div class="buttonFlex">

        <div>
            <button id="editArticle" class="button"><a class="editArticle"
                    href="./editArticle?id={{article_id}}">Edit</a></button>
        </div>

        <div>
            <button id="deleteArticle" class="deleteArticle button"
                onclick="deleteArticle({{article_id}});">Delete</button>
        </div>
    </div>

</div>
{{/each}}
{{/if}}